* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bahnschrift light', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    border-radius: 10px;
    max-width: 700px;
    display: flex;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.product-image {
    width: 50%;
    object-fit: cover;
}

.card{
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.type {
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 25px;
}

.title {
    font-family: 'Arial rounded MT Bold', sans-serif;
    font-size: 30px;
    color: hsl(212, 21%, 14%);
    margin-bottom: 20px;
}

.text{
    font-size: 0.9rem;
    color: hsl(228, 12%, 48%);
    margin-bottom: 20px;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.current {
    font-size: 40px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
    margin-right: 15px;
    font-family: 'Bill MT', sans-serif;
}

.old{
    font-size: 18px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-family: 'Bill MT', sans-serif;
}

.add {
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    display:flex;
    gap: 8px; 
    align-items: center; 
    justify-content: center; 
    margin-top: 20px;
}


.add:hover {
    background-color: hsl(158, 36%, 25%);
}

.store-icon {
    width: 24px;
    height: 24px; 
    margin-right: 8px; 
}