* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bahnschrift light', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    height: 100vh; 
    border: 5px solid hsl(158, 36%, 37%);
    border-radius: 15px;
    padding: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.left-section, .right-section {
    width: 50%;
}

.product {
    width: 100%;
    height: 100%; 
    object-fit: cover;
    border-radius: 15px; 
    overflow: hidden; 
}

.right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
}

.type {
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 10px;
    margin-bottom: 25px;
}

.title {
    font-family: 'cooper black', sans-serif;
    font-size: 40px;
    color: hsl(212, 21%, 14%);
    margin-bottom: 10px;
    margin-bottom: 30px;
}

.text {
    font-size: 20px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 30px;
}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.current {
    font-size: 40px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
    margin-right: 15px;
    font-family: 'Bill MT', sans-serif;
}

.old {
    font-size: 18px;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-family: 'Bill MT', sans-serif;
}

.add {
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    display:flex;
    gap: 8px; 
    align-items: center; 
    justify-content: center; 
    margin-top: 20px;
}

.add:hover {
    background-color: hsl(158, 36%, 25%);
}

.icon {
    width: 20px; 
    height: 20px; 
    vertical-align: middle;
    margin-right: 5px; 
}
